<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>
  <div class="container-add px-sm-2 px-md-5">
    <form autocomplete="off" [formGroup]="rrFailureForm">
      <div
        class="row text-light text-center justify-content-center px-sm-0 px-md-5"
      >
        <div class="col-sm-4 bg-primary py-1 mx-1">Tablas (*)</div>
      </div>

      <div class="row justify-content-center px-sm-0 px-md-5">
        <div class="col-sm-4 py-1 mx-1 p-0 text-left">
          <select
            formControlName="tableOptions"
            class="form-control form-control-sm"
            [ngClass]="{
              'is-invalid': this.invalidFieldForm('tableOptions')
            }"
          >
            <option value="">-- Seleccione --</option>
            <option
              *ngFor="let listTables of selectTable"
              [value]="listTables.key"
            >
              {{ listTables.value }}
            </option>
          </select>
          <small
            class="text-danger"
            *ngIf="this.invalidFieldForm('tableOptions')"
          >
            {{ textsFormInvalid("tableOptions") }}
          </small>
        </div>
      </div>
    </form>
  </div>

  <hr />

  <app-table
    [dataBase]="dataToTable"
    [structure]="structure"
    [buttons]="[]"
  ></app-table>

  <div *ngIf="dataToTable" class="text-center justify-content-center">
    <button
      type="button"
      class="btn btn-primary mr-3 btn-sm"
      (click)="downloadDataTable()"
    >
      Descargar
    </button>
  </div>
</section>
