<!-- <div class="d-flex justify-content-center navbar navbar-dark" >
  <app-navbar-button (click)="toggleSidebar()"></app-navbar-button>
</div> -->
<section class="section-navbar">
  <div class="nav-head text-center mb-5">
    <img src="assets/img/logo-claro-blanco.svg" alt="" srcset="">
  </div>

  <div class="menu-items">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle opened="true">
          <span>Parametrización</span><img src="assets/img/arrow-down.svg">
        </ng-template>
        <ng-template ngbPanelContent>
          <!-- <ul class="list-group list-group-flush" (click)="toggleSidebar()"> -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item" [routerLink]="['/dashboard/settings']">
              <span>Ajustes</span><img src="assets/img/setting.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/stratum']">
              <span>Estrato</span><img src="assets/img/social.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/causes']">
              <span>Causas</span><img src="assets/img/flow-filled.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/system-status']">
              <span>Estado Sistema</span><img src="assets/img/system.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/symptom']">
              <span>Síntoma</span><img src="assets/img/search.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/priorities']">
              <span>Prioridades</span><img src="assets/img/priority.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/origintype']">
              <span>Tipo Origen</span><img src="assets/img/origin.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/bulk-load']">Cargue Masivo</li>
          </ul>
        </ng-template>
      </ngb-panel>

      <!-- test -->
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle opened="true">
          <span>Parametrización RR</span><img src="assets/img/arrow-down.svg">
        </ng-template>
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" [routerLink]="['/dashboard/load-faults']">
              <span>Cargar Fallas</span><img src="assets/img/fault.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/maintenance-orders-causes']">
              <span>Causas Ordenes Mantenimiento</span><img src="assets/img/flow-filled.svg">
            </li>
            <li class="list-group-item" [routerLink]="['/dashboard/orders-symptoms']">
              <span>Síntomas Ordenes Mantenimiento</span><img src="assets/img/search.svg">
            </li>
          </ul>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-3">
        <ng-template ngbPanelTitle>
          <span>Reporte</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Validación Nodos</li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-4">
        <ng-template ngbPanelTitle>
          <span>Validación</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nodos</li>
            <li class="list-group-item">Cuentas</li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</section>
