<section class="section-navbar">
  <div class="nav-head text-center mb-5">
    <img src="assets/img/logo-claro-blanco.svg" alt="" srcset="">
  </div>

  <div class="menu-items">
    <div class="nav flex-column nav-pills red" role="tablist" aria-orientation="vertical">
      <a class="nav-link bg-dark text-light" [routerLink]="['/dashboard/settings']" routerLinkActivate="active" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Ajustes</a>
      <a class="nav-link text-light" [routerLink]="['/dashboard/causes']" routerLinkActivate="active" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Causas</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Causas Servicio</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Estado Sistema</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">FTP</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Síntoma</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Prioridades</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Observaciones</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Tipo Origen</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Cargue Masivo</a>
      <a class="nav-link text-light" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-selected="false">Coanfiguración Task</a>
    </div>
  </div>
</section>
