<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add px-sm-2 px-md-5">
    <form autocomplete="off" [formGroup]="priorityForm" (ngSubmit)="onSubmit()">
      <div class="formLayout">
        <div class="formSection">
          <div class="formLabel">Código Prioridad (*)</div>
          <div class="formField">
            <input
              type="number"
              formControlName="priorityCode"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('priorityCode')
              }"
              placeholder="Código prioridad"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('priorityCode')"
            >
              {{ textsFormInvalid("priorityCode") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Descripción Prioridad (*)</div>
          <div class="formField">
            <input
              type="text"
              formControlName="priorityDescription"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('priorityDescription')
              }"
              placeholder="Descripción"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('priorityDescription')"
            >
              {{ textsFormInvalid("priorityDescription") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Estado (*)</div>
          <div class="formField">
            <select
              formControlName="state"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('state')
              }"
            >
              <option *ngFor="let stateOp of selectState" [value]="stateOp.key">
                {{ stateOp.value }}
              </option>
            </select>
            <small class="text-danger" *ngIf="this.invalidFieldForm('state')">
              {{ textsFormInvalid("state") }}
            </small>
          </div>
        </div>
      </div>

      <div class="formLayout">
        <div class="actionsButtons">
          <button type="submit" class="btn btn-primary mr-3 btn-sm">
            {{ actionForm === "create" ? "Crear" : "Actualizar" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="cleanForm()"
          >
            Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>

  <hr />

  <app-table
    [dataBase]="dataToTable"
    [structure]="structure"
    (editRecord)="updatePriority($event)"
    (disableRecord)="disablePriority($event)"
    (deleteRecord)="deletePriority($event)"
  ></app-table>
</section>
