<section class="container py-3" id="editScrollTop">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add px-sm-2 px-md-5">
    <form
      autocomplete="off"
      [formGroup]="billingPeriodForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row text-light justify-content-center px-sm-0 px-md-5">
        <div class="col-sm-6 px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1 text-center">
            Fechas de facturación (*)
          </div>
          <div class="text-left">
            <p-calendar
              formControlName="billingDate"
              placeholder=" -- Seleccione la fecha de inicio y la fecha final --"
              dateFormat="dd/mm/yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1980:2050"
              selectionMode="range"
              [readonlyInput]="true"
            ></p-calendar>
            <small *ngIf="this.invalidFieldForm('billingDate')">
              {{ textsFormInvalid("billingDate") }}
            </small>
          </div>
        </div>
      </div>

      <div class="row text-light text-center">
        <div class="col-sm container-buttons">
          <button type="submit" class="btn btn-primary mr-3 btn-sm">
            {{ actionForm === "create" ? "Crear" : "Actualizar" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="cleanForm()"
          >
            Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>

  <hr />

  <app-table
    [dataBase]="dataToTable"
    [structure]="structure"
    (editRecord)="updateBillingPeriod($event)"
    (deleteRecord)="deleteBillingPeriod($event)"
    [buttons]="['edit', 'delete']"
    [CurrentPeriodSent]="currentPeriod"
  >
  </app-table>
</section>
