<section class="section-header">
  <nav class="navbar navbar-light ">
    <app-navbar-button (click)="toggleSidebar()"></app-navbar-button>
  </nav>

  <div class="d-flex align-items-center">
    <!-- <img class="access ml-2" src="assets/img/browser.svg" alt="" srcset="">
    <img class="access ml-2" src="assets/img/mail.svg" alt="" srcset="">
    <img class="access ml-2" src="assets/img/notification.svg" alt="" srcset=""> -->
    <p class="period">Período I</p>
    <img class="user ml-3" src="assets/img/user.svg" alt="" srcset="">
    <p-splitButton [label]="userData?.usuario.usuario" [model]="items" styleClass=""></p-splitButton>
  </div>
</section>
