<section id="editScrollTop" class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add">
    <form autocomplete="off" [formGroup]="MOCauseForm" (ngSubmit)="onSubmit()">
      <div class="formLayout">
        <div class="formSection">
          <div class="formLabel">Código Causa (*)</div>
          <div class="formField">
            <input
              type="text"
              formControlName="causeCode"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('causeCode')
              }"
              placeholder="Cód Causa"
            />
            <small *ngIf="this.invalidFieldForm('causeCode')">
              {{ textsFormInvalid("causeCode") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Descrip. Diagnóstico (*)</div>
          <div class="formField">
            <input
              type="text"
              formControlName="diagnosticDescription"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('diagnosticDescription')
              }"
              placeholder="Desc Diagnóstico"
            />
            <small *ngIf="this.invalidFieldForm('diagnosticDescription')">
              {{ textsFormInvalid("diagnosticDescription") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Estado (*)</div>
          <div class="formField">
            <select
              formControlName="state"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('state')
              }"
            >
              <option
                *ngFor="let listState of selectStatus"
                [value]="listState.key"
              >
                {{ listState.value }}
              </option>
            </select>
            <small class="text-danger" *ngIf="this.invalidFieldForm('state')">
              {{ textsFormInvalid("state") }}
            </small>
          </div>
        </div>
      </div>

      <div class="formLayout">
        <div class="formSection">
          <div class="formLabel">En Mantenimiento (*)</div>
          <div class="formField">
            <select
              formControlName="maintenance"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('maintenance')
              }"
            >
              <option
                *ngFor="let listMaintenance of selectYesNo"
                [value]="listMaintenance.key"
              >
                {{ listMaintenance.value }}
              </option>
            </select>
            <small *ngIf="this.invalidFieldForm('maintenance')">
              {{ textsFormInvalid("maintenance") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Servicios (*)</div>
          <div class="formField">
            <p-multiSelect
              formControlName="affectedServices"
              [options]="selectService"
              defaultLabel="- Seleccione -"
              optionLabel="value"
              [ngClass]="{
                'ng-invalid ng-dirty': this.invalidFieldForm('affectedServices')
              }"
              [filter]="false"
            ></p-multiSelect>
            <small *ngIf="this.invalidFieldForm('affectedServices')">
              {{ textsFormInvalid("affectedServices") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Detalle Afectación (*)</div>
          <div class="formField">
            <input
              type="text"
              formControlName="detailAffectation"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('detailAffectation')
              }"
              placeholder="Desc Afectación"
            />
            <small *ngIf="this.invalidFieldForm('detailAffectation')">
              {{ textsFormInvalid("detailAffectation") }}
            </small>
          </div>
        </div>
      </div>

      <div class="formLayout">
        <div class="actionsButtons">
          <button type="submit" class="btn btn-primary mr-3 btn-sm">
            {{ actionForm === "create" ? "Crear" : "Actualizar" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="cleanForm()"
          >
            Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>

  <hr />

  <app-table
    [dataBase]="dataToTable"
    [structure]="structure"
    (editRecord)="updateMaintenanceOrderCause($event)"
    (disableRecord)="disableMaintenanceOrderCause($event)"
    (deleteRecord)="deleteMaintenanceOrderCause($event)"
  ></app-table>
</section>
