<section class="section-settings section-page">
  <app-breadcrumb></app-breadcrumb>

  <form autocomplete="off" [formGroup]="formStgs" (ngSubmit)="onSubmit()">

    <div class="container-add">
      <div class="field three-fields">
        <label class="mb-0 text-light">Código(*)</label>
        <label class="mb-0 text-light">Descripción(*)</label>
        <label class="mb-0 text-light">Estado(*)</label>
        <div>
          <input class="form-control form-control-sm" type="text" formControlName="code" [class.is-invalid]="invalidCode" placeholder="Código">
          <small class="text-danger" *ngIf="invalidCode">{{ textsFormInvalid("code") }}</small>
        </div>
        <div>
          <input class="form-control form-control-sm" type="text" formControlName="description" [class.is-invalid]="invalidDescription" placeholder="Descripción">
          <small class="text-danger" *ngIf="invalidDescription">{{ textsFormInvalid("description") }}</small>
        </div>
        <div>
          <select class="form-control form-control-sm" formControlName="state" [class.is-invalid]="invalidState">
            <option *ngFor="let state of selectStatus" [value]="state.key">{{ state.value }}</option>
          </select>
          <small class="text-danger" *ngIf="invalidState">{{ textsFormInvalid("state") }}</small>
        </div>
      </div>

      <div class="container-selects-multi mt-3">
        <div class="field one-field">
          <label class="mb-0 text-light">Estratos Disponibles</label>
          <select class="custom-select" multiple formControlName="strataBase">
            <option *ngFor="let stratum of strataBase" [value]="stratum.key">{{ stratum.value }}</option>
          </select>
        </div>
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-dark" (click)="assignChoices('strataBase', 'strata')">
            <img src="assets/img/arrows_right_double.svg">
          </button>
          <button type="button" class="btn btn-dark" (click)="removeChoices('strata', 'strata')">
            <img src="assets/img/arrows_left_double.svg">
          </button>
        </div>
        <div class="field one-field">
          <label class="mb-0 text-light">Estratos Asignados(*)</label>
          <select class="custom-select" multiple formControlName="strata" [class.is-invalid]="invalidStrata">
            <option *ngFor="let stratum of strata" [value]="stratum.key">{{ stratum.value }}</option>
          </select>
          <small class="text-danger" *ngIf="invalidStrata">{{ msgErrorEmpty }}</small>
        </div>
      </div>

      <div class="container-selects-multi mt-3">
        <div class="field one-field">
          <label class="mb-0 text-light">Servicios Disponibles</label>
          <select class="custom-select" multiple formControlName="servicesBase">
            <option *ngFor="let svc of servicesBase" [value]="svc.key">{{ svc.value }}</option>
          </select>
        </div>
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-dark" (click)="assignChoices('servicesBase', 'services')">
            <img src="assets/img/arrows_right_double.svg">
          </button>
          <button type="button" class="btn btn-dark" (click)="removeChoices('services', 'services')">
            <img src="assets/img/arrows_left_double.svg">
          </button>
        </div>
        <div class="field one-field">
          <label class="mb-0 text-light">Servicios Asignados(*)</label>
          <select class="custom-select" multiple formControlName="services" [class.is-invalid]="invalidServices">
            <option *ngFor="let svc of services" [value]="svc.key">{{ svc.value }}</option>
          </select>
          <small class="text-danger" *ngIf="invalidServices">{{ msgErrorEmpty }}</small>
        </div>
      </div>

    </div>
    <div class="container-buttons mt-3">
      <button type="submit" class="btn btn-primary mr-3 btn-sm">{{ (actionForm === 'create' ? 'Crear' : 'Actualizar' )}}</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="cleanForm()">Limpiar</button>
    </div>
  </form>


  <hr class="mt-5 mb-5" />

  <table class="table table-sm table-borderless table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="period">Código</th>
        <th scope="col" sortable="date">Descripción</th>
        <th scope="col" sortable="time">Estado</th>
        <th scope="col" sortable="time">Acciones</th>
        <!-- <th scope="col" sortable="status" (sort)="onSort($event)">Estado</th> -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="settings$ | async as settings">
        <tr *ngFor="let setting of settings; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ setting.code }}</td>
          <td>{{ setting.description }}</td>
          <td>{{ (setting.state === '1') ? 'Activo' : 'Inactivo' }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm mr-2" (click)="updateSetting(setting)">
              <img src="assets/img/edit.svg">
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="deleteSetting(setting)">
              <img src="assets/img/trash.svg">
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>


</section>

<app-toast></app-toast>
