<section class="container py-3">
    <app-breadcrumb></app-breadcrumb>
  
    <div class="container-add px-sm-2 px-md-5">
      <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row text-light text-center">
          <div class="col-sm bg-primary py-1 mx-1">Tipo de Carga(*)</div>
          <div class="col-sm bg-primary py-1 mx-1">Archivo(*)</div>
        </div>
        <div class="row">
            <div class="col-sm mx-1 mt-1 p-0">
              <select class="form-control form-control-sm" formControlName="type" [class.is-invalid]="invalidType">
								<option value="">- Seleccione -</option>
								<option value="RESIDENTIAL_BASE">Residencial</option>
								<option value="SME_SETTING">Pymes</option>
							</select>
              <small class="text-danger" *ngIf="invalidType">{{ textsFormInvalid("type") }}</small>
            </div>
            <div class="col-sm mx-1 mt-1 p-0">
							<input type="file" class="form-control-file" formControlName="file" (change)="handleFileInput($event)" [class.is-invalid]="invalidFile">
							<small class="text-danger" *ngIf="invalidFile">{{ textsFormInvalid("file") }}</small>
            </div>
          </div>

          <div class="row text-light text-center mt-4">
            <div class="col-sm container-buttons">
              <button type="submit" class="btn btn-primary mr-3 btn-sm">Enviar</button>
              <button type="button" class="btn btn-secondary btn-sm" (click)="cleanForm()">Limpiar</button>
            </div>
          </div>
      </form>
    </div>
  
    <hr class="mt-5 mb-5" />
  
    <!-- <app-table [dataBase]="dataToTable" [structure]="structure" (editRecord)="updateOrigin($event)" (disableRecord)="disableOrigin($event)" (deleteRecord)="deleteOrigin($event)"></app-table> -->
  </section>
  