<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add px-sm-2 px-md-5">
    <form
      autocomplete="off"
      [formGroup]="fullstackConfirmationForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Código Identificador único (*)</div>
          <div class="text-left">
            <input
              type="text"
              formControlName="charge_service"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('charge_service')
              }"
              placeholder="Código Identificador único"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('charge_service')"
            >
              {{ textFormInvalid("charge_service") }}
            </small>
          </div>
        </div>
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Código cliente externo</div>
          <div class="text-left">
            <input
              type="text"
              formControlName="cust_num"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('cust_num')
              }"
              placeholder="Código cliente externo"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('cust_num')"
            >
              {{ textFormInvalid("cust_num") }}
            </small>
          </div>
        </div>
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Código cliente interno (*)</div>
          <div class="text-left">
            <input
              type="text"
              formControlName="customer_id"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('customer_id')
              }"
              placeholder="Código cliente interno"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('customer_id')"
            >
              {{ textFormInvalid("customer_id") }}
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Código contrato externo</div>
          <div class="text-left">
            <input
              type="text"
              formControlName="co_code"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('co_code')
              }"
              placeholder="Código contrato externo"
            />
            <small class="text-danger" *ngIf="this.invalidFieldForm('co_code')">
              {{ textFormInvalid("co_code") }}
            </small>
          </div>
        </div>
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Código contrato interno</div>
          <div class="text-left">
            <input
              type="text"
              formControlName="co_id"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('co_id')
              }"
              placeholder="Código contrato interno"
            />
            <small class="text-danger" *ngIf="this.invalidFieldForm('co_id')">
              {{ textFormInvalid("co_id") }}
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Fecha de la OCC (*)</div>
          <div class="text-left">
            <p-calendar
              formControlName="valid_from"
              placeholder="Fecha de la OCC"
              dateFormat="dd/mm/yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1980:2050"
              selectionMode="single"
              [showIcon]="true"
              [readonlyInput]="true"
              [ngClass]="{
                'ng-invalid ng-dirty': this.invalidFieldForm('valid_from')
              }"
            ></p-calendar>
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('valid_from')"
            >
              {{ textFormInvalid("valid_from") }}
            </small>
          </div>
        </div>
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Monto de la OCC (*)</div>
          <div class="text-left">
            <input
              type="text"
              formControlName="amount"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('amount')
              }"
              placeholder="Monto de la OCC"
            />
            <small class="text-danger" *ngIf="this.invalidFieldForm('amount')">
              {{ textFormInvalid("amount") }}
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Fecha de BSCS (*)</div>
          <div class="text-left">
            <p-calendar
              formControlName="execute_date"
              placeholder="Fecha de BSCS"
              dateFormat="dd/mm/yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1980:2050"
              selectionMode="single"
              [showIcon]="true"
              [readonlyInput]="true"
              [ngClass]="{
                'ng-invalid ng-dirty': this.invalidFieldForm('execute_date')
              }"
            ></p-calendar>
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('execute_date')"
            >
              {{ textFormInvalid("execute_date") }}
            </small>
          </div>
        </div>
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Estado (*)</div>
          <div class="text-left">
            <input
              type="text"
              formControlName="state"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('state')
              }"
              placeholder="Estado"
            />
            <small class="text-danger" *ngIf="this.invalidFieldForm('state')">
              {{ textFormInvalid("state") }}
            </small>
          </div>
        </div>
        <div class="col-sm text-light text-center px-sm-1 mb-4">
          <div class="bg-primary py-1 mb-1">Observación (*)</div>
          <div class="text-left">
            <input
              type="text"
              formControlName="observation"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('observation')
              }"
              placeholder="Observación"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('observation')"
            >
              {{ textFormInvalid("observation") }}
            </small>
          </div>
        </div>
      </div>

      <div class="row text-light text-center">
        <div class="col-sm container-buttons">
          <button type="submit" class="btn btn-primary mr-3 btn-sm">
            {{ actionForm === "create" ? "Crear" : "Actualizar" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="cleanForm()"
          >
            Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>

  <hr />

  <app-table
    [dataBase]="dataToTable"
    [structure]="structureTable"
    (editRecord)="updateFullstackConfirmation($event)"
    (disableRecord)="disableFullstackConfirmation($event)"
    (deleteRecord)="deleteFullstackConfirmation($event)"
  ></app-table>

  <div *ngIf="dataToTable" class="text-center justify-content-center">
    <button
      type="button"
      class="btn btn-primary mr-3 btn-sm"
      (click)="downloadDataTable()"
    >
      Descargar CSV
    </button>
  </div>
</section>
