<section class="section-login">
    <div class="container-login">
        <div class="logo">
            <img src="assets/img/logo-login.png">
        </div>
        <div class="form-login">
            <p class="title-main">Bienvenido</p>
            <p class="title-secondary">Un solo login para todas tus aplicaciones Claro</p>
            <div class="form">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">&#9733;</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre de usuario">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">&#10070;</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <p>Olvidé mi contraseña</p>
            </div>
            <button type="button" class="btn btn-dark" (click)="loginUser()">Ingresar</button>
        </div>
    </div>
</section>