<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add px-sm-2 px-md-5">
    <div class="row justify-content-md-center">
      <div class="col-sm-4">
        <form autocomplete="off" [formGroup]="nodeForm">
          <p-dropdown
            [options]="selectService_Node"
            optionLabel="value"
            class="p-inputtext-sm"
            formControlName="listNodes_Revision"
            (onChange)="initialCharge()"
          >
            <ng-template let-options pTemplate="item">
              <div>
                {{ options.value }}
              </div>
            </ng-template>
          </p-dropdown>
        </form>
      </div>
    </div>

    <div class="row mt-4 justify-content-md-center">
      <div
        class="col-sm-4"
        *ngIf="this.nodeForm.get('listNodes_Revision').value.key === 'approved'"
      >
        <form autocomplete="off" [formGroup]="nodeRevisionForm">
          <p-dropdown
            [options]="selectRevision_Node"
            optionLabel="value"
            class="p-inputtext-sm"
            formControlName="filterRevision"
            (onChange)="filterRevisionData($event.value.key)"
          >
            <ng-template let-options pTemplate="item">
              <div>
                {{ options.value }}
              </div>
            </ng-template>
          </p-dropdown>
        </form>
      </div>
    </div>
  </div>


  <hr />

  <app-table
    [dataBase]="dataToTableFilter || dataToTable"
    [structure]="structure"
    [validation]="changeIconValidation"
    [buttons]="selectedRevisionButtons"
    (editRecord)="approvedNode($event)"
    (disableRecord)="rejectedQualityNode($event)"
    (deleteRecord)="rejectedNode($event)"
  ></app-table>

  <div *ngIf="dataToTable" class="text-center justify-content-center">
    <button
      type="button"
      class="btn btn-primary mr-3 btn-sm"
      (click)="downloadDataTable()"
    >
      Descargar CSV
    </button>
  </div>
</section>
