<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add px-sm-2 px-md-5 d-flex justify-content-center">


      <div class="col-sm-4">
        <form autocomplete="off" [formGroup]="nodeForm">
          <p-dropdown
            [options]="selectService"
            optionLabel="value"
            class="p-inputtext-sm"
            placeholder="- Seleccione -"
            formControlName="services"
            (onChange)="initialCharge()"
          >
            <ng-template let-options pTemplate="item">
              <div
              >
                {{ options.value }}
              </div>
            </ng-template>
          </p-dropdown>
        </form>
      </div>
    
  </div>

  <hr />

  <app-table
    [dataBase]="dataToTable"
    [structure]="structure"
    [validation]="changeIconValidation"
    (editRecord)="approvedNode($event)"
    (disableRecord)="rejectedQualityNode($event)"
    (deleteRecord)="rejectedNode($event)"
  ></app-table>
</section>
