<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add px-sm-2 px-md-5">
    <form autocomplete="off" [formGroup]="formSymptom" (ngSubmit)="onSubmit()">
      <div class="row text-light text-center">
        <div class="col-sm bg-primary py-1 mx-1">Código(*)</div>
        <div class="col-sm bg-primary py-1 mx-1">Descripción(*)</div>
        <div class="col-sm bg-primary py-1 mx-1">Estado(*)</div>
      </div>
      <div class="row">
        <div class="col-sm mx-1 mt-1 p-0">
          <input class="form-control form-control-sm" type="text" formControlName="code" [class.is-invalid]="invalidCode" placeholder="Código">
          <small class="text-danger" *ngIf="invalidCode">{{ textsFormInvalid("code") }}</small>
        </div>
        <div class="col-sm mx-1 mt-1 p-0">
          <input class="form-control form-control-sm" type="text" formControlName="description" [class.is-invalid]="invalidDescription" placeholder="Descripción">
          <small class="text-danger" *ngIf="invalidDescription">{{ textsFormInvalid("description") }}</small>
        </div>
        <div class="col-sm mx-1 mt-1 p-0">
          <select class="form-control form-control-sm" formControlName="state" [class.is-invalid]="invalidState">
            <option *ngFor="let state of selectStatus" [value]="state.key">{{ state.value }}</option>
          </select>
          <small class="text-danger" *ngIf="invalidState">{{ textsFormInvalid("state") }}</small>
        </div>
      </div>
      <div class="row text-light text-center mt-4 px-sm-0">
        <div class="col-sm bg-primary py-1 mx-1">Origen(*)</div>
        <div class="col-sm bg-primary py-1 mx-1">Servicios(*)</div>
      </div>
      <div class="row text-light text-center mt-1 px-sm-0">
        <div class="col-sm py-1 mx-1 p-0 text-left">
          <select class="form-control form-control-sm" formControlName="origin" [class.is-invalid]="invalidOrigin">
            <option value="">- Seleccione -</option>
            <option *ngFor="let item of origin" [value]="item.id">{{ item.name }}</option>
          </select>
          <small class="text-danger" *ngIf="invalidOrigin">{{ textsFormInvalid("origin") }}</small>
        </div>
        <div class="col-sm py-1 mx-1 p-0 text-left">
          <p-multiSelect
            [options]="services"
            formControlName="services"
            [ngClass]="{'ng-invalid ng-dirty': invalidServices}"
            defaultLabel="- Seleccione -"
            optionLabel="value">
          </p-multiSelect>
          <small class="text-danger" *ngIf="invalidServices">{{ textsFormInvalid("services") }}</small>
        </div>
      </div>
      <div class="row text-light text-center mt-4">
        <div class="col-sm container-buttons">
          <button type="submit" class="btn btn-primary mr-3 btn-sm">{{ (actionForm === 'create' ? 'Crear' : 'Actualizar' )}}</button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="cleanForm()">Limpiar</button>
        </div>
      </div>
    </form>
  </div>

  <hr class="mt-5 mb-5" />

  <app-table [dataBase]="dataToTable" [structure]="structure" (editRecord)="updateSymptom($event)" (disableRecord)="disableSymptom($event)" (deleteRecord)="deleteSymptom($event)"></app-table>
</section>
