<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add px-sm-2 px-md-5">
    <form autocomplete="off" [formGroup]="formSymptom" (ngSubmit)="onSubmit()">
      <div class="row text-light text-center">
        <div class="col-sm bg-danger py-1 mx-1">Código(*)</div>
        <div class="col-sm bg-danger py-1 mx-1">Descripción(*)</div>
        <div class="col-sm bg-danger py-1 mx-1">Estado(*)</div>
      </div>
      <div class="row">
        <div class="col-sm mx-1 mt-1 p-0">
          <input class="form-control form-control-sm" type="text" formControlName="code" [class.is-invalid]="invalidCode" placeholder="Código">
          <small class="text-danger" *ngIf="invalidCode">{{ textsFormInvalid("code") }}</small>
        </div>
        <div class="col-sm mx-1 mt-1 p-0">
          <input class="form-control form-control-sm" type="text" formControlName="description" [class.is-invalid]="invalidDescription" placeholder="Descripción">
          <small class="text-danger" *ngIf="invalidDescription">{{ textsFormInvalid("description") }}</small>
        </div>
        <div class="col-sm mx-1 mt-1 p-0">
          <select class="form-control form-control-sm" formControlName="state" [class.is-invalid]="invalidState">
            <option *ngFor="let state of selectStatus" [value]="state.key">{{ state.value }}</option>
          </select>
          <small class="text-danger" *ngIf="invalidState">{{ textsFormInvalid("state") }}</small>
        </div>
      </div>
      <div class="row text-light text-center mt-4 px-sm-0 px-md-5">
        <div class="col-sm bg-danger py-1 mx-1">Origen(*)</div>
        <div class="col-sm bg-danger py-1 mx-1">Servicios(*)</div>
      </div>
      <div class="row text-light text-center mt-1 px-sm-0 px-md-5">
        <div class="col-sm py-1 mx-1 p-0 text-left">
          <select class="form-control form-control-sm" formControlName="origin" [class.is-invalid]="invalidOrigin">
            <option value="">- Seleccione -</option>
            <option *ngFor="let item of origin" [value]="item.id">{{ item.name }}</option>
          </select>
          <small class="text-danger" *ngIf="invalidOrigin">{{ textsFormInvalid("origin") }}</small>
        </div>
        <div class="col-sm py-1 mx-1 p-0 text-left">
          <select class="form-control form-control-sm" formControlName="services" multiple [class.is-invalid]="invalidServices" size="3">
            <option *ngFor="let service of services" [value]="service.key">{{ service.value }}</option>
          </select>
          <small class="text-danger" *ngIf="invalidServices">{{ textsFormInvalid("services") }}</small>
        </div>
      </div>
      <div class="row text-light text-center mt-4">
        <div class="col-sm container-buttons">
          <button type="submit" class="btn btn-primary mr-3 btn-sm">{{ (actionForm === 'create' ? 'Crear' : 'Actualizar' )}}</button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="cleanForm()">Limpiar</button>
        </div>
      </div>
    </form>
  </div>

  <hr class="mt-5 mb-5" />

  <table class="table table-sm table-borderless table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="period">Código Sintoma</th>
        <th scope="col" sortable="date">Descripción</th>
        <th scope="col" sortable="time">Origen</th>
        <th scope="col" sortable="status">Telefonía</th>
        <th scope="col" sortable="status">Televisión</th>
        <th scope="col" sortable="status">Internet</th>
        <th scope="col" sortable="status">Estado</th>
        <th scope="col" sortable="time">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="symptoms$ | async as symptoms">
        <tr *ngFor="let symptom of symptoms; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ symptom.symptomCode }}</td>
          <td>{{ symptom.description }}</td>
          <td>{{ symptom.origin }}</td>
          <td>{{ (symptom.telephone === '1') ? 'Aplica' : 'N/A' }}</td>
          <td>{{ (symptom.television === '1') ? 'Aplica' : 'N/A' }}</td>
          <td>{{ (symptom.internet === '1') ? 'Aplica' : 'N/A' }}</td>
          <td>{{ (symptom.state == '1') ? 'Activo' : 'Inactivo' }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm mr-2" (click)="updateSymptom(symptom)">
              <img src="assets/img/edit.svg">
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="deleteSymptom(symptom)">
              <img src="assets/img/trash.svg">
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</section>
<app-toast></app-toast>
