<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="px-sm-2 px-md-5">
    <div class="row text-light mt-4">
      <div class="col-sm container-buttons">
        <input type="file" (change)="handleChangeInputFile($event)" class="d-none" #inputFileTxt accept=".txt">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary"  id="dropdownBasic1" ngbDropdownToggle>Seleccione Base</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="generateClickInput('nodes')">Nodos</button>
            <button ngbDropdownItem (click)="generateClickInput('accounts')">Cuentas</button>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm ml-3" (click)="openModal()">Enviar</button>
      </div>
    </div>
  </div>

  <hr class="mt-5 mb-5" />

  <app-table [dataBase]="dataToTable" [structure]="structureToTable" actionsButton="No"></app-table>
</section>
