/* You can add global styles to this file, and also import other style files */

:root {
  --primary: red;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

//Backgraund color app
.background-theme {
  background-color: var(--primary);
}

//Resize icon invalid - solution conflic
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-position: right calc(0.8em + 0.1875rem) center;
}

//Background color buttons
.btn-primary {
  background-color: var(--primary);
}

// Used in the separation in the forms
hr {
  margin: 5% 0 5% 0;
  height: 2px;
  border-width: 0;
  color: var(--gray);
  background-color: var(--gray)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// SideBar

.ng-sidebar {
  background: red;
  width: 15rem;
}

// Accordion

.menu-items {
  .card {
    border-radius: 0;
    background: transparent;
  }
  .card-header {
    padding: 0.3rem 0;
  }
  .btn-link {
    width: 100%;
    text-align: left;
    padding: .3rem .3rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      box-shadow: none;
    }
    img {
      width: 20px;
    }
  }
  .btn {
    &:focus {
      box-shadow: none;
    }
  }
  .card-body {
    padding: 0;
    .list-group-item {
      background: transparent;
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: .75rem .8rem .75rem 1.25rem;
    }
    img {
      width: 20px;
    }
  }
}
