@import "assets/css/colors.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
// @import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "assets/css/themePrime.scss";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
// @import '../node_modules/primeflex/primeflex.css';

//Resize icon invalid - solution conflic
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-position: right calc(0.8em + 0.1875rem) center;
}

// Used in the separation in the forms
hr {
  margin: 5% 0 5% 0;
  height: 2px;
  border-width: 0;
  color: var(--gray);
  background-color: var(--gray);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// SideBar

.ng-sidebar {
  background: var(--primary); // acomodar
  width: 15rem;
}

// Pages

.container-add {
  font-size: 0.9rem;
  .container-buttons {
    button {
      min-width: 6rem;
    }
  }
}
.container-table {
  font-size: 0.9rem;
  overflow-x:scroll;
}

// spinner - loading

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}

// PRIMENG SplitButton

.p-splitbutton {
  .p-button {
    background: transparent;
    color: var(--dark);
    border: transparent;
  }
  .p-button:enabled:hover {
    background: transparent;
    color: var(--dark);
    border-color: transparent;
  }
  .p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }
  .p-button.p-splitbutton-menubutton:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgb(211 34 21 / 50%);
  }
}

// PRIMENG PanelMenu

.p-panelmenu {
  .p-panelmenu-content {
    background: whitesmoke;
  }
  .p-panelmenu-header-link {
    background: var(--primary) !important;
    color: var(--light) !important;

    // TEST
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem 1rem 1.25rem !important;
  }
  .p-panelmenu-icon {
    margin-right: 0 !important;
  }
  .p-menuitem-link-active {
    span {
      color: var(--primary) !important;
    }
  }
  .p-panelmenu-header > a:focus {
    box-shadow: 0 0 0 0.2rem rgb(211 34 21 / 50%) !important;
  }
  .p-panelmenu-content {
    .p-menuitem .p-menuitem-link:focus {
      box-shadow: 0 0 0 0.2rem rgb(211 34 21 / 50%) !important;
    }

    // TEST
    .p-menuitem-link {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0.75rem 0.75rem 1rem !important;
      .p-menuitem-icon {
        margin-right: 0 !important;
      }
    }

  }
}

// PRIMENG Table

.container-table {
  .btn img {
    height: 15px;
  }
}

//PRIMENG button dialog confirm
.p-confirm-dialog-reject {
  color: var(--secondary);
  background-color: transparent;
  border-color: var(--secondary);
}
.p-confirm-dialog-accept {
  background-color: var(--success);
}
.p-confirm-dialog-reject,
.p-confirm-dialog-accept {
  &:enabled {
    &:hover {
      background-color: var(--confirm-hover);
      border-color: var(--confirm-hover);
    }
  }
  &:focus {
    box-shadow: none;
  }
}

// PRIMENG Toast

.p-toast-message {
  .p-toast-message-content {
    text-transform: capitalize;
  }
}

// BOX UPLOAD - INPUT FILE

.box-upload {
  min-height: 70px;
  padding: 1rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  label {
    color: white;
    border-radius: 4px;
    background-color: var(--primary);
    padding: 5px 9px;
  }
  p {
    font-weight: 600;
    color: #38424c;
    margin-bottom: 0.1rem;
  }
}

// Form Style

.container-add {
  font-size: 0.875rem;
  @extend .px-sm-2, .px-md-5;
  .formLayout {
    @extend .row, .px-md-5;
    .formSection {@extend .col-sm, .text-light, .text-center, .px-sm-1, .mb-4;}
    .formSection2 {@extend .col-sm-6, .text-light, .text-center, .px-sm-1, .mb-4;}
    
    .formSection, .formSection2 {
      .formLabel {
        @extend .bg-primary, .py-1, .mb-1;
      }
      .formField {
        @extend .text-left;
        small {
          @extend .text-danger;
        }
      }
    }
    .actionsButtons {
      @extend .col-sm, .text-light, .text-center, .px-sm-1, .mb-4;
      button {
        min-width: 6rem;
      }
    }
  }
}
