<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-add px-sm-2 px-md-5">
    <form autocomplete="off" [formGroup]="causeForm" (ngSubmit)="onSubmit()">
      <div class="formLayout">
        <div class="formSection">
          <div class="formLabel">Código Causa (*)</div>
          <div class="formField">
            <input
              type="text"
              formControlName="causeCode"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('causeCode')
              }"
              placeholder="Código Causa"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('causeCode')"
            >
              {{ textsFormInvalid("causeCode") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Código Problema (*)</div>
          <div class="formField">
            <input
              type="text"
              formControlName="problemCode"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('problemCode')
              }"
              placeholder="Código Problema"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('problemCode')"
            >
              {{ textsFormInvalid("problemCode") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Código Falla (*)</div>
          <div class="formField">
            <input
              type="text"
              formControlName="failureCode"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('failureCode')
              }"
              placeholder="Código Falla"
            />
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('failureCode')"
            >
              {{ textsFormInvalid("failureCode") }}
            </small>
          </div>
        </div>
      </div>

      <div class="formLayout">
        <div class="formSection">
          <div class="formLabel">Tipo de Origen (*)</div>
          <div class="formField">
            <select
              formControlName="typeOrigin"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('typeOrigin')
              }"
            >
              <option value="" selected>- Seleccione -</option>
              <option
                *ngFor="let listTypeOrigin of originTypeList"
                [value]="listTypeOrigin.id"
              >
                {{ listTypeOrigin.name }}
              </option>
            </select>
            <small
              class="text-danger"
              *ngIf="this.invalidFieldForm('typeOrigin')"
            >
              {{ textsFormInvalid("typeOrigin") }}
            </small>
          </div>
        </div>
        <div class="formSection">
          <div class="formLabel">Estado (*)</div>
          <div class="formField">
            <select
              formControlName="status"
              class="form-control form-control-sm"
              [ngClass]="{
                'is-invalid': this.invalidFieldForm('status')
              }"
            >
              <option *ngFor="let stateOp of selectState" [value]="stateOp.key">
                {{ stateOp.value }}
              </option>
            </select>
            <small class="text-danger" *ngIf="this.invalidFieldForm('status')">
              {{ textsFormInvalid("status") }}
            </small>
          </div>
        </div>
      </div>

      <div class="formLayout">
        <div class="actionsButtons">
          <button type="submit" class="btn btn-primary mr-3 btn-sm">
            {{ actionForm === "create" ? "Crear" : "Actualizar" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="cleanForm()"
          >
            Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>

  <hr />

  <app-table
    [dataBase]="dataToTable"
    [structure]="structure"
    (editRecord)="updateCause($event)"
    (disableRecord)="disableCause($event)"
    (deleteRecord)="deleteCause($event)"
  ></app-table>
</section>
