<section class="section-task section-page">
  <nav aria-label="breadcrumb" >
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Parametrización</a></li>
      <li class="breadcrumb-item active" aria-current="page">Configuración Task</li>
    </ol>
  </nav>

  <div class="container-add">
    <label class="mb-0 text-light">Periodo de Ejecución(*)</label>
    <label class="mb-0 text-light">Fecha de ejecución(*)</label>
    <label class="mb-0 text-light">Hora de Ejecución(*)</label>
    <label class="mb-0 text-light">Estado(*)</label>

    <select class="form-control form-control-sm">
      <option>Diario</option>
      <option>Semanal</option>
      <option>Mensual</option>
      <option>Semestral</option>
      <option>Anual</option>
    </select>
    <form class="form-inline">
      <div class="input-group w-100">
        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd"
                name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-sm calendar" (click)="d.toggle()" type="button">
            <img class="img-btn" src="assets/img/calendar.svg" alt="" srcset="">
          </button>
        </div>
      </div>
    </form>
    <ngb-timepicker [(ngModel)]="time" meridian="true" size="small"></ngb-timepicker>
    <select class="form-control form-control-sm">
      <option>Activo</option>
      <option>Inactivo</option>
    </select>
  </div>

  <hr/>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="periodo" (sort)="onSort($event)">Periodo</th>
      <th scope="col" sortable="fecha" (sort)="onSort($event)">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ task.period }}
      </td>
      <td>{{ task.date }}</td>
      <td>{{ task.time }}</td>
      <td>{{ task.status }}</td>
    </tr>
    </tbody>
  </table>

</section>
