.container-module {
	font-size: 0.9rem;
}

.step-vertical {
  // background: lightgray;
  .step-item {
    display: grid;
    grid-template-areas:
      "icon content"
      "bar content"
    ;
    grid-template-columns: 3rem auto;
    .step-item-icon {
      grid-area: icon;
      margin: auto;
    }
    .step-item-content {
      grid-area: content;
    }
    .step-item-bar {
      grid-area: bar;
      margin: .6rem auto;
      width: 1px;
      height: 3rem;
    }
  }
}

.step-item {
	cursor: pointer;
	.step-item-icon-process {
		color: white;
    background: var(--primary);
	}
	.step-item-icon-notcompleted {
		background: transparent;
    border: 1px solid var(--gray);
    color: var(--gray);
	}
	.step-item-icon-completed {
		background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
	}
}
.step-item-icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.step-item-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 .5rem;
  color: var(--gray);
  .title {
    i {
      color: var(--success);
      font-size: 1rem;
    }
  }
  .subtitle {
    // color: var(--gray);
    font-size: .75rem;
    text-transform: lowercase;
  }
  label {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .spinner-border {
      flex-shrink: 0;
    }
  }
}

.selected-item {
  color: var(--dark);
  font-weight: bold;
}

.step-horizontal {
	padding: .5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bar-completed {
  background: var(--primary);
}
.bar-notcompleted {
  background: var(--gray);
}
.container-stages {
	background: whitesmoke;
	min-height: 10rem;
  padding: 7% 3rem;
  margin: 5rem 0;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.container-buttons {
  button {
    min-width: 10rem;
  }
}
