<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-module px-sm-2 px-md-5">
    <div class="row">
      <div class="col-sm-4 col-md-3 py-3 step-vertical">
        <ng-container *ngFor="let stage of stages; let i = index">
          <div class="step-item" (click)="changeStage(stage)">
            <div class="step-item-icon step-item-icon-process"
              [ngClass]=" {
                'step-item-icon-process':stage.status == 1 && stage.stage == stageSelected,
                'step-item-icon-notcompleted':stage.status == 0,
                'step-item-icon-completed':stage.status == 1 && stage.stage != stageSelected
              }"
            >{{ i + 1 }}</div>
            <div class="step-item-content" [ngClass]="{'selected-item': stage.stage == stageSelected}">
              <label class="title">{{ stage.title }}</label>
              <ng-container ng-switch="myVar">
                <ng-container [ngSwitch]="stage.status">
                  <label class="title" *ngSwitchCase="1">Completado</label>
                  <label class="title" *ngSwitchCase="'process'">En proceso</label>
                  <label class="subtitle" *ngSwitchCase="0">No completado</label>
                  <!-- <span class="badge badge-light">No Completado</span> -->
                </ng-container>
              </ng-container>

            </div>
            <ng-container *ngIf="i+1 !== stages.length">
              <div class="step-item-bar" [ngClass]=" {
                'bar-notcompleted':stage.status != 'completed',
                'bar-completed':stage.status == 'completed'
              }"></div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-sm-8 col-md-9 text-center container-stages">
        <ng-container [ngSwitch]="stageSelected">

          <!-- STEP 1 -->
          <ng-container *ngSwitchCase="1">
            <div *ngIf="stages[stageSelected -1].status == 1" class="alert alert-success" role="alert">
              ¡El proceso ejecución reglas para Nodos ha sido completado!
            </div>
            <div *ngIf="stages[stageSelected -1].status == 0" class="alert alert-secondary" role="alert">
              ¡El proceso ejecución de reglas para Nodos no se ha ejecutado!
            </div>
            <div class="row text-light text-center mt-4">
              <div class="col-sm container-buttons">
                <button type="button" (click)="openModal()" [disabled]="stages[stageSelected -1].status == 1" class="btn btn-primary btn-sm">
                  Ejecutar Reglas
                </button>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="2">
            <p>¡Por favor seleccione estado del proceso Validación de Nodos!</p>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary"  id="dropdownBasic1" ngbDropdownToggle>Seleccione Estado</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Completado</button>
                <button ngbDropdownItem>En proceso</button>
                <button ngbDropdownItem>No completado</button>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="3">
            <!-- <p>¡Por favor indique el estado del proceso de Carga de Archivos de Fallas RR!</p> -->
            <div class="alert alert-warning" role="alert">
              ¡Esta opción se encuentra inhabilitada, hasta que los procesos anteriores hayan sido completados!
            </div>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" disabled ngbDropdownToggle>Seleccione Estado</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Completado</button>
                <button ngbDropdownItem>En proceso</button>
                <button ngbDropdownItem>No completado</button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <hr class="mt-5 mb-5" />
</section>

<p-confirmDialog [key]="randomKey" rejectLabel="Cancelar" acceptLabel="Aceptar">
</p-confirmDialog>
