<section class="container py-3">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-module px-sm-2 px-md-5">
    <div class="row" *ngIf="stages">
      <div class="col-sm-4 col-md-3 py-3 step-vertical">
        <ng-container *ngFor="let stage of stages; let i = index">
          <div class="step-item" (click)="changeStage(stage)">
            <div class="step-item-icon step-item-icon-process" [ngClass]=" {
                'step-item-icon-process':stage.status == 1 && stage.stage == stageSelected,
                'step-item-icon-notcompleted':stage.status == 0,
                'step-item-icon-completed':stage.status == 1 && stage.stage != stageSelected
              }">{{ i + 1 }}</div>
            <div class="step-item-content" [ngClass]="{'selected-item': stage.stage == stageSelected}">
              <div>
                <label class="title">{{ stage.processName }}
                  <div class="spinner-border spinner-border-sm ml-1" role="status"
                    *ngIf="['INICIADO', 'EN PROGRESO'].includes(stage.stateProcess)">
                  </div>
                  <div class="d-flex flex-column">
                    <i class="bi bi-check2" *ngIf="stage.stateProcess == 'COMPLETADO'"></i>
                    <i class="bi bi-x text-danger" *ngIf="stage.stateProcess == 'ERROR'"></i>
                    <i class="bi bi-envelope" *ngIf="stage.sendEmail == '1' && stage.stateSendEmail == '1'"></i>
                  </div>
                </label>
              </div>
              <ng-container ng-switch="myVar">
                <label class="subtitle">{{ stage.stateProcess }}</label>
              </ng-container>
            </div>
            <ng-container *ngIf="i+1 !== stages.length">
              <div class="step-item-bar" [ngClass]=" {
                'bar-notcompleted':stage.status != 'completed',
                'bar-completed':stage.status == 'completed'
              }"></div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-sm-8 col-md-9 text-center container-stages">
        <ng-container [ngSwitch]="stageSelected">
          <!-- STEP 1 -->
          <ng-container *ngSwitchCase="1">
            <div>
              <p-steps [model]="itemsSteps" [(activeIndex)]="activeStep" [readonly]="true"></p-steps>
            </div>
            <div>
              <div *ngIf="stages[stageSelected -1].status == 0" class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[1].failed }}
              </div>
              <div *ngIf="stages[stageSelected -1].status == 1" class="alert alert-success" role="alert">
                {{ processParams.msgsByStages[1].success }}
              </div>
              <ng-container *ngIf="stages[stageSelected -1].sendEmail == '1' && stages[stageSelected -1].stateProcess == 'COMPLETADO'">
                <div
                  [class]="(stages[stageSelected -1].stateSendEmail == '1') ? 'alert alert-success' : 'alert alert-warning'"
                  role="alert">
                  {{ (stages[stageSelected -1].stateSendEmail == '1')
                  ? '¡Se ha enviado la notificación!'
                  : '¡Ha ocurrido un problema al enviar la notificación!'
                  }}
                </div>
              </ng-container>
            </div>
            <div class="row text-light text-center mt-4">
              <div class="col-sm container-buttons">
                <button type="button" class="btn btn-primary btn-sm"
                  (click)="openModal()"
                  [disabled]="stages[stageSelected -1].stateProcess == 'INICIADO' || stages[stageSelected -1].stateProcess == 'EN PROGRESO'"
                >
                  Ejecutar Reglas
                </button>
              </div>
            </div>
          </ng-container>
          <!-- STEP 2 -->
          <ng-container *ngSwitchCase="2">
            <div>
              <p-steps [model]="itemsSteps" [(activeIndex)]="activeStep" [readonly]="true"></p-steps>
            </div>
            <div>
              <div *ngIf="stages[stageSelected - 2].status == 0" class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[2].disabled }}
              </div>
              <div *ngIf="stages[stageSelected -2].status == 1 && stages[stageSelected - 1].status == 0"
                class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[2].failed }}
              </div>
              <div *ngIf="stages[stageSelected - 1].status == 1" class="alert alert-success" role="alert">
                {{ processParams.msgsByStages[2].success }}
              </div>
              <ng-container *ngIf="stages[stageSelected -1].sendEmail == '1' && stages[stageSelected -1].stateProcess == 'COMPLETADO'">
                <div
                  [class]="(stages[stageSelected -1].stateSendEmail == '1') ? 'alert alert-success' : 'alert alert-warning'"
                  role="alert">
                  {{ (stages[stageSelected -1].stateSendEmail == '1')
                  ? '¡Se ha enviado la notificación!'
                  : '¡Ha ocurrido un problema al enviar la notificación!'
                  }}
                </div>
              </ng-container>
            </div>
            <div class="row text-light text-center mt-4">
              <div class="col-sm container-buttons">
                <button type="button" (click)="openModal()"
                  [disabled]="stages[stageSelected -2].status == 0 || stages[stageSelected -1].status == 1"
                  class="btn btn-primary btn-sm">
                  Validar Nodos
                </button>
              </div>
            </div>
          </ng-container>
          <!-- STEP 3 -->
          <ng-container *ngSwitchCase="3">
            <div>
              <p-steps [model]="itemsSteps" [(activeIndex)]="activeStep" [readonly]="true"></p-steps>
            </div>
            <div>
              <div *ngIf="stages[stageSelected - 2].status == 0" class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[3].disabled }}
              </div>
              <div *ngIf="stages[stageSelected -2].status == 1 && stages[stageSelected - 1].status == 0"
                class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[3].failed }}
              </div>
              <div *ngIf="stages[stageSelected - 1].status == 1" class="alert alert-success" role="alert">
                {{ processParams.msgsByStages[3].success }}
              </div>
              <ng-container *ngIf="stages[stageSelected -1].sendEmail == '1' && stages[stageSelected -1].stateProcess == 'COMPLETADO'">
                <div
                  [class]="(stages[stageSelected -1].stateSendEmail == '1') ? 'alert alert-success' : 'alert alert-warning'"
                  role="alert">
                  {{ (stages[stageSelected -1].stateSendEmail == '1')
                  ? '¡Se ha enviado la notificación!'
                  : '¡Ha ocurrido un problema al enviar la notificación!'
                  }}
                </div>
              </ng-container>
            </div>
            <div class="row text-light text-center mt-4">
              <div class="col-sm container-buttons">
                <button type="button" (click)="openModal()"
                  [disabled]="
                    (stages[stageSelected -2].status == 0 || stages[stageSelected -1].status == 1) ||
                    (stages[stageSelected -1].stateProcess == 'INICIADO' || stages[stageSelected -1].stateProcess == 'EN PROGRESO')
                  "
                  class="btn btn-primary btn-sm">
                  Ejecutar Reglas Negocio RR
                </button>
              </div>
            </div>
          </ng-container>
          <!-- STEP 4 -->
          <ng-container *ngSwitchCase="4">
            <div>
              <p-steps [model]="itemsSteps" [(activeIndex)]="activeStep" [readonly]="true"></p-steps>
            </div>
            <div>
              <div *ngIf="stages[stageSelected - 2].status == 0" class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[4].disabled }}
              </div>
              <div *ngIf="stages[stageSelected -2].status == 1 && stages[stageSelected - 1].status == 0"
                class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[4].failed }}
              </div>
              <div *ngIf="stages[stageSelected - 1].status == 1" class="alert alert-success" role="alert">
                {{ processParams.msgsByStages[4].success }}
              </div>
              <ng-container *ngIf="stages[stageSelected -1].sendEmail == '1' && stages[stageSelected -1].stateProcess == 'COMPLETADO'">
                <div
                  [class]="(stages[stageSelected -1].stateSendEmail == '1') ? 'alert alert-success' : 'alert alert-warning'"
                  role="alert">
                  {{ (stages[stageSelected -1].stateSendEmail == '1')
                  ? '¡Se ha enviado la notificación!'
                  : '¡Ha ocurrido un problema al enviar la notificación!'
                  }}
                </div>
              </ng-container>
            </div>
            <div class="row text-light text-center mt-4">
              <div class="col-sm container-buttons">
                <button type="button" (click)="openModal()"
                  [disabled]="stages[stageSelected -2].status == 0 || stages[stageSelected -1].status == 1"
                  class="btn btn-primary btn-sm">
                  Validar fallas RR
                </button>
              </div>
            </div>
          </ng-container>
          <!-- STEP 5 -->
          <ng-container *ngSwitchCase="5">
            <div>
              <p-steps [model]="itemsSteps" [(activeIndex)]="activeStep" [readonly]="true"></p-steps>
            </div>
            <div>
              <div *ngIf="stages[stageSelected - 2].status == 0" class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[5].disabled }}
              </div>
              <div *ngIf="stages[stageSelected -2].status == 1 && stages[stageSelected - 1].status == 0"
                class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[5].failed }}
              </div>
              <div *ngIf="stages[stageSelected - 1].status == 1" class="alert alert-success" role="alert">
                {{ processParams.msgsByStages[5].success }}
              </div>
              <ng-container *ngIf="stages[stageSelected -1].sendEmail == '1' && stages[stageSelected -1].stateProcess == 'COMPLETADO'">
                <div
                  [class]="(stages[stageSelected -1].stateSendEmail == '1') ? 'alert alert-success' : 'alert alert-warning'"
                  role="alert">
                  {{ (stages[stageSelected -1].stateSendEmail == '1')
                  ? '¡Se ha enviado la notificación!'
                  : '¡Ha ocurrido un problema al enviar la notificación!'
                  }}
                </div>
              </ng-container>
            </div>
            <div class="row text-light text-center mt-4">
              <div class="col-sm container-buttons">
                <button type="button" (click)="openModal()"
                  [disabled]="
                    (stages[stageSelected -2].status == 0 || stages[stageSelected -1].status == 1) ||
                    (stages[stageSelected -1].stateProcess == 'INICIADO' || stages[stageSelected -1].stateProcess == 'EN PROGRESO')
                  "
                  class="btn btn-primary btn-sm">
                  Generar nodos y cuentas
                </button>
              </div>
            </div>
          </ng-container>
          <!-- STEP 6 -->
          <ng-container *ngSwitchCase="6">
            <div>
              <p-steps [model]="itemsSteps" [(activeIndex)]="activeStep" [readonly]="true"></p-steps>
            </div>
            <div>
              <div *ngIf="stages[stageSelected - 2].status == 0" class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[6].disabled }}
              </div>
              <div *ngIf="stages[stageSelected -2].status == 1 && stages[stageSelected - 1].status == 0"
                class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[6].failed }}
              </div>
              <div *ngIf="stages[stageSelected - 1].status == 1" class="alert alert-success" role="alert">
                {{ processParams.msgsByStages[6].success }}
              </div>
              <ng-container *ngIf="stages[stageSelected -1].sendEmail == '1' && stages[stageSelected -1].stateProcess == 'COMPLETADO'">
                <div
                  [class]="(stages[stageSelected -1].stateSendEmail == '1') ? 'alert alert-success' : 'alert alert-warning'"
                  role="alert">
                  {{ (stages[stageSelected -1].stateSendEmail == '1')
                  ? '¡Se ha enviado la notificación!'
                  : '¡Ha ocurrido un problema al enviar la notificación!'
                  }}
                </div>
              </ng-container>
            </div>
            <div class="row text-light text-center mt-4">
              <div class="col-sm container-buttons">
                <button type="button" (click)="openModal()"
                  [disabled]="stages[stageSelected -2].status == 0 || stages[stageSelected -1].status == 1"
                  class="btn btn-primary btn-sm">
                  Confirmar información rentas
                </button>
              </div>
            </div>
          </ng-container>
          <!-- STEP 7 -->
          <ng-container *ngSwitchCase="7">
            <div>
              <p-steps [model]="itemsSteps" [(activeIndex)]="activeStep" [readonly]="true"></p-steps>
            </div>
            <div>
              <div *ngIf="stages[stageSelected - 2].status == 0" class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[7].disabled }}
              </div>
              <div *ngIf="stages[stageSelected -2].status == 1 && stages[stageSelected - 1].status == 0"
                class="alert alert-secondary" role="alert">
                {{ processParams.msgsByStages[7].failed }}
              </div>
              <div *ngIf="stages[stageSelected - 1].status == 1" class="alert alert-success" role="alert">
                {{ processParams.msgsByStages[7].success }}
              </div>
              <ng-container *ngIf="stages[stageSelected -1].sendEmail == '1' && stages[stageSelected -1].stateProcess == 'COMPLETADO'">
                <div
                  [class]="(stages[stageSelected -1].stateSendEmail == '1') ? 'alert alert-success' : 'alert alert-warning'"
                  role="alert">
                  {{ (stages[stageSelected -1].stateSendEmail == '1')
                  ? '¡Se ha enviado la notificación!'
                  : '¡Ha ocurrido un problema al enviar la notificación!'
                  }}
                </div>
              </ng-container>
            </div>
            <div class="row text-light text-center mt-4">
              <div class="col-sm container-buttons">
                <button type="button" (click)="openModal()"
                  [disabled]="
                    (stages[stageSelected -2].status == 0 || stages[stageSelected -1].status == 1) ||
                    (stages[stageSelected -1].stateProcess == 'INICIADO' || stages[stageSelected -1].stateProcess == 'EN PROGRESO')
                  "
                  class="btn btn-primary btn-sm">
                  Generar archivos facturación
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <!-- Sino hay procesos en BD -->
    <div class="row" *ngIf="!stages">
      <div class="col-md py-3">
        <div class="alert alert-secondary" role="alert">
          {{ processParams.empty }}
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-5 mb-5" />
</section>

<p-confirmDialog [key]="randomKey" rejectLabel="Cancelar" acceptLabel="Aceptar">
</p-confirmDialog>
