<div class="container-table px-sm-0 px-md-3">
  <p-table #dt1 styleClass="p-datatable-sm" selectionMode="single"
    [value]="dataBase" [columns]="selectedColumns"
    [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]"
    [globalFilterFields]="selectedColumns" [globalFilterFields]="['amount']"
    [autoLayout]="true"
    dataKey="incidence"
    editMode="row"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Elija Columnas">
        </p-multiSelect>
        <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar palabra clave" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
          <col style="width: 3rem">
          <col *ngFor="let col of columns">
          <ng-container *ngIf="buttons.length !== 0">
            <col style="width: 9rem">
          </ng-container>
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th scope="col">#</th>
        <th *ngFor="let opt of columns" [ngSwitch]="opt.field" [pSortableColumn]="opt.field">
          <ng-container *ngSwitchCase="'highAmount'">
            {{opt.description}}
            <p-columnFilter [field]="opt.field" matchMode="equals" display="menu">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="highAmount" (onChange)="filter($event.value)" placeholder="Todos">
                      <ng-template let-option pTemplate="item">
                          <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                  </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{opt.description}} <p-sortIcon [field]="opt.field"></p-sortIcon>
          </ng-container>
        </th>
        <ng-container *ngIf="buttons.length !== 0">
          <th scope="col" class="text-center">Acciones</th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-editing="editing" let-i="rowIndex" let-columns="columns">
      <tr [pEditableRow]="item">
        <td style="width: 1rem">{{ i + 1}}</td>
        <ng-container *ngFor="let opt of columns" [ngSwitch]="opt.validation" >
          <td *ngSwitchCase="'yes-no'">{{ (yesNoValidation(item[opt.name])) ? 'Si' : 'No' }}</td>
          <td *ngSwitchCase="'no-yes'">{{ (item[opt.name] === 1) ? 'Si' : 'No' }}</td>
          <td *ngSwitchCase="'yes-no-x'">{{ (item[opt.name] === 'X' || item[opt.name] === 'x') ? 'Si' : 'No' }}</td>
          <td *ngSwitchCase="'active-desactive'">{{ (item[opt.name] === '1' || item[opt.name] === 1) ? 'Activo' : 'Inactivo' }}</td>
          <td *ngSwitchCase="'service'">{{ (item[opt.name] === '1' || item[opt.name] === 1) ? 'Aplica' : 'N/A' }}</td>
          <td *ngSwitchCase="'union-date'">{{ item[opt.name] }} {{ item[opt.name2] }}</td>
          <td *ngSwitchCase="'observation'" style="min-width: 14rem">
            <div *ngIf="buttons.length !== 0 else optionReject" class="row">
            <p-cellEditor class="col-sm-9 pl-3 pr-1">
                <ng-template pTemplate="input">
                  <select
                  class="form-control form-control-sm"
                  [(ngModel)]="item[opt.name]"
                >
                  <option [value]=" '' || undefined">- Seleccione -</option>
                  <option
                    *ngFor="let observationOption of listObservation"
                    [value]="observationOption.description"
                  >
                    {{ observationOption.description }}
                  </option>
                </select>
                </ng-template>
                <ng-template pTemplate="output">
                    {{item[opt.name]}}
                </ng-template>
            </p-cellEditor>
            <div class="col-sm-3 btn-group px-0">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="bi bi-pencil-fill" (click)="onRowEditInit(item, i, 'userObservation')" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(item, i, 'userObservation')" class="p-button-rounded p-button-text p-button-danger"></button>
            </div>
          </div>
            <ng-template #optionReject >
              <div>{{ item[opt.name] }}</div>
            </ng-template>
          </td>
          <td *ngSwitchCase="''">{{ item[opt.name] }}</td>
          <td *ngSwitchCase="'date'">
            <ng-container *ngIf="typeOfObject(item[opt.name]) == 'object'">
              {{ item[opt.name] | date }}
            </ng-container>
            <ng-container *ngIf="typeOfObject(item[opt.name]) != 'object'">
              {{ item[opt.name] }}
            </ng-container>
          </td>
          <td *ngSwitchCase="'hour'">{{ item[opt.name] | date: 'h:mm:ss a' }}</td>
          <td *ngSwitchCase="'revision-approved'">
            <div *ngIf="item[opt.name] === 'APROBADO'" class="badge badge-success px-2"> {{ item[opt.name] }} </div>
            <div *ngIf="item[opt.name] === '' || item[opt.name] === undefined " class="badge badge-warning px-2"> CANDIDATO </div>
            <div *ngIf="item[opt.name] === 'RECHAZADO' || item[opt.name] === 'RECHAZADO CALIDAD'" class="badge badge-danger px-2"> {{ item[opt.name] }} </div>
          </td>
          <td *ngSwitchCase="'revision-rejected'">
            <div *ngIf="item[opt.name] === 'APROBADO' else notApproved" class="badge badge-success px-2"> {{ item[opt.name] }} </div>
            <ng-template #notApproved >
              <div class="badge badge-danger px-2">{{ item[opt.name] }}</div>
            </ng-template>
          </td>
          <td *ngSwitchCase="'amount'">{{ item[opt.name] | currency }}</td>
          <td *ngSwitchCase="'time-min'">{{item[opt.name] | hourMinute}}</td>
          <td *ngSwitchCase="'period'">
            <div *ngIf="item[opt.name] === CurrentPeriodSent else notIsActual" class="d-flex flex-row">Periodo {{item[opt.name]}} <span class="badge-success px-2 mx-2">Actual</span></div>
            <ng-template #notIsActual >
              <div>Periodo {{ item[opt.name] }}</div>
            </ng-template>
            </td>
          <td *ngSwitchCase="'highAmount'">
            <div *ngIf="item[opt.name] === '1'"><span class="badge badge-warning">Monto Alto</span></div>
            <div *ngIf="item[opt.name] === '0'"><span class="badge badge-light">Monto Bajo</span></div>
          </td>
        </ng-container>
        <ng-container *ngIf="buttons.length !== 0">
          <td class="text-center align-middle">
            <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary btn-sm mr-1" (click)="sendDataToEdit(item)" *ngIf="(buttons.indexOf('edit') > -1)" data-toggle="tooltip" data-placement="top" [title]="validation? 'Aprobado' : ''">
              <i [class]="validation? 'pi pi-check' : 'bi bi-pencil-fill' "></i>
            </button>
            <button type="button" (click)="sendDataToDisable(item)" data-toggle="tooltip" data-placement="top"
              [class]="(!validation && item.state?.toString() === '0') ? 'btn btn-primary btn-sm mr-1' : 'btn btn-secondary btn-sm mr-1' "
              *ngIf="(buttons.indexOf('disable') > -1)"
              [title]="validation? 'Rechazado por calidad' : ''"
            >
              <ng-container *ngIf="validation">
                <i class="bi bi-file-earmark-break"></i>
              </ng-container>
              <ng-container *ngIf="!validation">
                <i [class]="item.state?.toString() === '0' ? 'bi bi-check-circle' : 'bi bi-x-circle'" [title]="item.state?.toString() === '0' ? 'Habilitar' : 'Deshabilitar'"></i>
              </ng-container>
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="openModal(item)" *ngIf="(buttons.indexOf('delete') > -1)" data-toggle="tooltip" data-placement="top" [title]="validation? 'Rechazado' : ''">
              <i [class]="validation? 'pi pi-times' : 'pi pi-trash' "></i>
            </button>
          </div>
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog [key]="randomKey" rejectLabel="Cancelar" acceptLabel="Aceptar">
</p-confirmDialog>
